---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<script type="module" src="/kicanvas.js"></script>

<Layout title="Welcome to Astro.">
	<div class="flex flex-wrap items-center justify-center w-screen h-screen overflow-hidden">
		<div class="w-2/5 h-2/5 m-2 hover:h-screen hover:w-screen hover:scale-[90%] hover:absolute peer peer-hover:hidden">
			<kicanvas-embed
				src="https://raw.githubusercontent.com/murexrobotics/electrical-2024/main/carrier/carrier.kicad_pcb"
				controls="full"
			>
			</kicanvas-embed>
		</div>
		<div class="w-2/5 h-2/5 m-2 hover:h-screen hover:w-screen hover:scale-[90%] hover:absolute peer peer-hover:hidden">
			<kicanvas-embed
				src="https://raw.githubusercontent.com/murexrobotics/electrical-2024/main/power/power.kicad_pcb"
				controls="full"
			>
			</kicanvas-embed>
		</div>
		<div class="w-2/5 h-2/5 m-2 hover:h-screen hover:w-screen hover:scale-[90%] hover:absolute peer peer-hover:hidden">
			<kicanvas-embed
				src="https://raw.githubusercontent.com/murexrobotics/electrical-2024/main/networking/switch/switch.kicad_pcb"
				controls="full"
			>
			</kicanvas-embed>
		</div>
		<div class="w-2/5 h-2/5 m-2 hover:h-screen hover:w-screen hover:scale-[90%] hover:absolute peer peer-hover:hidden">
			<kicanvas-embed
				src="https://raw.githubusercontent.com/murexrobotics/electrical-2024/main/esc/anyesc/anyesc.kicad_pcb"
				controls="full"
			>
			</kicanvas-embed>
		</div>
	</div>
</Layout>
